@model Intern.Models.User

<form method="Post">
    <div class="border p-3 mt-4">
        <div class="row pd-4">
            <h2 class="text-primary">Create User</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <br /> <br />
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>

        <a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back To Index
        </a>
    </div>
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}